.global{
    header{
        background-color: #ecbd90;
        border-radius: 0.5rem;
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;
        max-height: 6rem;
    }
    // columns: 2;
}