<div class="global">
  <header>
    <pre>
      Ce projet à pour intérêt de déterminer les probabilités qu'un "chaton" possède les traits héréditaires de son père ou bien sa mère sur le jeu Walken. 
      Chaque chat possède sa propre rareté en fonction de son trait (corps, couleur, environemment, visage, queue et oreille) le plus rare.
      Afin de réaliser une simulation, veuillez entrer l'ID des deux parents, cliquez ensuite sur simulate. 
      Si vous souhaitez réaliser une autre simulation avec des paires différentes, veuillez cliquer sur reset puis ajouter les ID de la paire que vous souhaitez réaliser.
      liste d'ID : 42651735, 50237605, 16459424, 40220473, 84479151, 02312246, 06510833, 36197865

    </pre>

  </header>
  <app-cath-details></app-cath-details>
</div>
